iniconfig==2.3.0
linkify-it-py==2.0.3
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
packaging==25.0
platformdirs==4.5.1
plotext==5.3.2
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
rich==14.2.0
textual==7.0.0
textual-plotext==1.0.1
typing_extensions==4.15.0
uc-micro-py==1.0.3
